
.list {
    display: flex;
    gap: 0.25rem;
    transform-style: preserve-3d;
    list-style-type: none;
  
    &:hover :not(:hover) {
      margin: 0 -20px;
      transform: perspective(500px) rotateY(45deg) scale(0.95);
    }
  
    &:hover :not(:hover)::after {
      opacity: 0.4;
    }
  }
  
  .item {
    position: relative;
    width: 120px;
    aspect-ratio: 3/4;
    border-radius: 0.5rem;
   
    background-position: center;
    transition: margin 0.5s, transform 0.5s;
  
    &:nth-of-type(1) { background-image: url('../../../../../assets/dorado.png');  background-repeat: no-repeat; background-size:100% auto;}
    &:nth-of-type(2) { background-image: url('../../../../../assets/logo.png'); background-repeat: no-repeat; background-size:100% auto;}
    
    &:hover ~ .item {
      transform: perspective(500px) rotateY(-45deg) scale(0.95);
    }
  
    &:hover {
      transform: perspective(500px) rotateY(0) scale(1.2);
    }
  
    &::after {
      content: '';
      position: absolute;
      width: inherit;
      aspect-ratio: inherit;
      border-radius: inherit;
      background-color: black;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }