/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;






html::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  html::-webkit-scrollbar:vertical {
    width:5px;
  }
  
  html::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
  } 
  
  html::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: #3c3a44;
    border-radius: 20px;
    border: 2px solid #2d5985;
  }
  
  html::-webkit-scrollbar-track {
    border-radius: 10px;  
  }